.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.login-button {
  padding-bottom: 10px;
}

.copy-button {
  padding-bottom: 10px;
}

textarea {
  border: solid;
  border-width: 2px;


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
